---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
---

<Layout
	title="Eric Dew — Concert Photographer & Videographer"
	description="Eric Dew (@ericdew) is a touring concert photographer and videographer based in San Francisco, CA."
	>
	<main>
		<Header />
		<Gallery folder="showcase" />
		<Footer />
	</main>
</Layout>
