---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout title="Eric Dew — Concert Photographer">
	<main>
		<Header />
		<Gallery folder="showcase" />
	</main>
</Layout>
