---
import GalleryImage from "./GalleryImage.astro";
---

<div class="gallery flex flex-wrap m-0.5">
    <GalleryImage src="/images/1-DEW08959.jpg" />
    <GalleryImage src="/images/DEW00365_1.jpg" />
    <GalleryImage src="/images/DEW02999_1.jpg" />
    <GalleryImage src="/images/DEW02999_1.jpg" />
    <GalleryImage src="/images/DEW03975-Edit.jpg" />
    <GalleryImage src="/images/DEW07080.jpg" />
    <GalleryImage src="/images/DEW00226.jpg" />
    <GalleryImage src="/images/DEW00365_1.jpg" />
    <GalleryImage src="/images/DEW07080.jpg" />
    <GalleryImage src="/images/DEW00226.jpg" />
    <GalleryImage src="/images/DEW00365_1.jpg" />
    <GalleryImage src="/images/DEW02999_1.jpg" />
    <GalleryImage src="/images/DEW03975-Edit.jpg" />
    <GalleryImage src="/images/DEW07080.jpg" />

    <!-- placeholders required to properly size images in the last/incomplete row -->
    {Array.from({length: 10}, () => (
        <div class="grow-[100] basis-[240px] h-0 m-0"></div>
    ))}
</div>

<script>
    const imageElements = document.querySelectorAll('.gallery img');

    imageElements.forEach((imageElement) => {
        const image = imageElement as HTMLImageElement;
        const parent = image.parentElement;

        if (parent) {
            const height = image.naturalHeight;
            const width = image.naturalWidth;
            const flex = width * 300 / height;

            parent.style.flexGrow = flex + "";
            parent.style.flexBasis = flex + "px";

            const firstChild = parent.firstElementChild as HTMLElement;
            
            if (firstChild) {
                const padding = height / width * 100;
                firstChild.style.paddingBottom = padding + "%";
            }
        }
    });
</script>
