---
import { v2 as cloudinary } from 'cloudinary'
import { Picture } from '@astrojs/image/components';

export interface Props {
	folder: string;
};

export interface CloudinaryImage {
    secure_url: string;
    width: number;
    height: number;
    aspect_ratio: number;
    context: { alt: string };
};

const { folder } = Astro.props;

cloudinary.config({
    cloud_name: import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME,
    api_key: import.meta.env.PUBLIC_CLOUDINARY_API_KEY,
    api_secret: import.meta.env.SECRET_CLOUDINARY_API_KEY,
    secure: true,
});

const cloudinary_search = await cloudinary.search
    .expression(`folder:${folder}`)
    .with_field('context')
    .sort_by('filename', 'asc')
    .max_results(500)
    .execute();

const images = cloudinary_search.resources as CloudinaryImage[];
---

<div class="gallery flex flex-wrap m-0.5">
    
    {images.map((CloudinaryImage) => (
        <div class="relative m-0.5" style={`flex-grow: ${CloudinaryImage.width * 300 / CloudinaryImage.height}; flex-basis: ${CloudinaryImage.width * 300 / CloudinaryImage.height}px;`}>
            <div class="block" style={`padding-bottom: ${CloudinaryImage.height / CloudinaryImage.width * 100}%`}></div>
            <Picture
                src={CloudinaryImage.secure_url}
                aspectRatio={CloudinaryImage.aspect_ratio}
                widths={[2000, 1200, 800]}
                sizes="(min-width: 1150px) 50vw, (min-width: 900px) 75vw, 100vw" // various layout breakpoints
                class="easeload absolute align-bottom top-0 w-full h-full object-cover opacity-0 transition-opacity ease-in duration-1000"
                onload="this.style.opacity=1" // fade in image after loading
                alt={`"Concert Photograph by Eric Dew${CloudinaryImage.context ? " of " + CloudinaryImage.context.alt : ""}`} />
        </div>
    ))}

    <!-- placeholders required to properly size images in the last/incomplete row -->
    {Array.from({length: 10}, () => (
        <div class="grow-[100] basis-[240px] h-0 m-0"></div>
    ))}

</div>
