---
export interface Props {
	src: string;
}

const { src } = Astro.props;
---

<div class="relative m-0.5">
    <div class="block"></div>
    <img src={src} class="absolute align-bottom top-0 w-full h-full object-cover" />
</div>
