---
import GalleryImage from "./GalleryImage.astro";
---

<div class="gallery">
    <GalleryImage src="/images/1-DEW08959.jpg" />
    <GalleryImage src="/images/DEW00365_1.jpg" />
    <GalleryImage src="/images/DEW02999_1.jpg" />
    <GalleryImage src="/images/DEW02999_1.jpg" />
    <GalleryImage src="/images/DEW03975-Edit.jpg" />
    <GalleryImage src="/images/DEW07080.jpg" />
    <GalleryImage src="/images/DEW00226.jpg" />
    <GalleryImage src="/images/DEW00365_1.jpg" />
    <GalleryImage src="/images/DEW07080.jpg" />
    <GalleryImage src="/images/DEW00226.jpg" />
    <GalleryImage src="/images/DEW00365_1.jpg" />
    <GalleryImage src="/images/DEW02999_1.jpg" />
    <GalleryImage src="/images/DEW03975-Edit.jpg" />
    <GalleryImage src="/images/DEW07080.jpg" />
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
</div>

<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        margin: 2px;
    }

    .placeholder {
        flex-grow: 100;
        flex-basis: 240px;
        height: 0;
        margin: 0;
    }
</style>

<script>
  const images = document.querySelectorAll('.gallery img');

  images.forEach((image) => {
        const element = image as HTMLImageElement;
        const height = element.naturalHeight;
        const width = element.naturalWidth;
        const flex = width * 300 / height;
        const padding = height / width * 100;

        if (element.parentElement) {
            element.parentElement.style.flexGrow = flex + "";
            element.parentElement.style.flexBasis = flex + "px";
            
            if (element.parentElement.firstElementChild) {
                (element.parentElement.firstElementChild as HTMLElement).style.paddingBottom = padding + "%";
            }
        }
  });
</script>
