---
import Social from "../components/Social.astro";
---

<header class="text-center pt-8 pb-4">
  <h1 class="text-5xl font-bold">Eric Dew</h1>
  <p class="text-xl mt-2">Based in San Francisco, CA</p>
  <Social />
</header>
