---
import Social from '../components/Social.astro';
---

<header>
    <h1>Eric Dew</h1>
    <p>Based in San Francisco, CA</p>
    <Social />
</header>

<style>
    header {
        text-align: center;
        margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
    }

    h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>