---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>

<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌉</text></svg>" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-100 text-neutral-900 dark:bg-neutral-900 dark:text-slate-100">
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');

	::-webkit-scrollbar {
		@apply w-4;
	}

	::-webkit-scrollbar-track {
		@apply  bg-slate-100 dark:bg-neutral-900;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-neutral-400 border-slate-100 dark:bg-neutral-600 dark:border-neutral-900
			border-4 border-solid rounded-full opacity-50;
	}
</style>
