---
const sizes: { [key: string]: string } = {
  default: "h-10 py-2 px-4 text-base",
  sm: "h-9 px-2 rounded-md text-sm",
  lg: "h-11 px-8 rounded-md text-lg",
};

const variants: { [key: string]: string } = {
  default: "bg-slate-900 text-white hover:bg-slate-700 dark:bg-slate-50 dark:text-slate-900",
  outline: "bg-transparent border border-slate-200 hover:bg-slate-100 dark:border-slate-700 dark:text-slate-100",
};

const props = [
  { key: "size", values: sizes, default: sizes.default },
  { key: "variant", values: variants, default: variants.default },
];

const styles = props.map(({ key, values, default: def }) => values[Astro.props[key]] ?? def).join(" ");
---

<button
  type="button"
  class={`${styles} inline-flex items-center justify-center rounded-md font-medium transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 dark:hover:bg-slate-800 dark:hover:text-slate-100 disabled:opacity-50 dark:focus:ring-slate-400 disabled:pointer-events-none dark:focus:ring-offset-slate-900 data-[state=open]:bg-slate-100 dark:data-[state=open]:bg-slate-800`}
  {...Astro.props}
>
  <slot />
</button>
