---
const { subtle = false } = Astro.props;
---

<div class={`${subtle ? "opacity-40" : "opacity-80" } pointer-events-none fixed z-[-1] h-screen w-screen after:absolute after:-left-40 after:-top-40 after:h-[calc(100%+20rem)] after:w-[calc(100%+20rem)] after:animate-grain after:bg-[url('/grain.png')] after:will-change-transform after:content-['']`}></div>
<div class={`${subtle ? "opacity-80" : "opacity-100" } pointer-events-none fixed top-0 left-0 z-[-2] h-screen w-screen bg-[radial-gradient(farthest-side_at_50%_50%,_#27272A,_transparent)]`}></div>
